.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 524px;
  margin: 0 auto; 
  border: 1px solid #d1d5db;
  padding: 20px;
  border-radius: 12px;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

h1 {
  color: #1f2937;
}

.btn-signup {
  width: 100%;
}

